# Node / Svelte
node_modules/
dist/
.svelte-kit/
.vercel/
.npm
**/.env

# Rust / Tauri
src-tauri/target/
src-tauri/gen/
**/*.rs.bk

# Minisign Keys (PROTECT ASSETS)
**/*.key
!**/*.key.pub

# Update Manifest Backup
scripts/update.json.bak

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Desktop OS files
.DS_Store
Thumbs.db
*.txt